@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	body {
		@apply font-kumbh;
	}

	/* MOBILE SIDE NAVIGATION MENU */
	/* When the menu is closed, hide the close icon */
	.menu-button[data-nav-menu-open="false"] > .icon-close {
		@apply hidden;
	}

	/* When the menu is open, hide the open icon */
	.menu-button[data-nav-menu-open="true"] > .icon-hamburger {
		@apply hidden;
	}

	nav[data-nav-menu-open="true"] {
		@apply translate-x-0;
	}

	.nav-backdrop {
		transition: opacity 500ms, transform 0ms 500ms;
	}

	/* When the side nav is open, show a trans-black overlay over the body */
	.nav-backdrop[data-nav-menu-open="true"] {
		@apply scale-100;
		@apply opacity-100;
		transition: opacity 500ms;
	}

	/* CART MENU */
	.CartFloatingMenu[data-cart-menu-open="true"] {
		@apply scale-y-100;
	}

	/* Gallery Thumbnauil button */
	/* Style thumnail button corresponding to the large image currently displayed */
	.ThumbnailButton[data-image-selected="true"] {
		@apply outline;
		@apply outline-2;
		@apply outline-primaryOrange;
	}

	.ThumbnailButton[data-image-selected="true"] > img {
		@apply opacity-25;
	}

	/* ICONS */
	.icon {
		@apply bg-contain;
		@apply bg-center;
		@apply bg-no-repeat;
	}

	.icon-cart {
		background-image: url("../public/images/icon-cart.svg");
	}

	.icon-dumpster {
		background-image: url("../public/images/icon-delete.svg")
	}

	.icon-minus {
		background-image: url("../public/images/icon-minus.svg");
	}

	.icon-plus {
		background-image: url("../public/images/icon-plus.svg");
	}
}